
.outerbox ul {
	LIST-STYLE-TYPE: none;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	MARGIN: 0px;
	PADDING-RIGHT: 0px
}

.outerbox li {
	LIST-STYLE-TYPE: none;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	MARGIN: 0px;
	PADDING-RIGHT: 0px
}


h3 {
	LIST-STYLE-TYPE: none;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	MARGIN: 0px;
	PADDING-RIGHT: 0px
}

.outerbox {
	height:40px;
}


 .menuitem {
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 0px
} 

.menuitem LI {
	FONT-SIZE: 14px;
	POSITION: relative;
	BACKGROUND-POSITION: right -60px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 5px;
	DISPLAY: inline;
	PADDING-RIGHT: 35px
}

.menuitem LI H3 {
	FLOAT: left;
	FONT-WEIGHT: normal;
	DISPLAY: inline-block
}

.menuitem LI A.xiala1 {
	FONT-SIZE: 14px;
	COLOR: #fff;
	TEXT-DECORATION: none;
	MARGIN-TOP: 2px;
	DISPLAY: inline-block
}

.menuitem LI A.selected {
	BACKGROUND-IMAGE: url(../images/navbg.png);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left -117px;
	COLOR: #911531
}

.menuitem LI A.navhover {
	BACKGROUND-IMAGE: url(../images/navbg.png);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left -117px;
	COLOR: #911531
}

.menuitem LI A.xiala1:hover {
	BACKGROUND-IMAGE: url(../images/navbg.png);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left -117px;
	COLOR: #911531
}

.menuitem LI A.navhover {
	BACKGROUND-COLOR: #fff
}

.menuitem LI A.xiala1:hover {
	BACKGROUND-COLOR: #fff
}

.menuitem LI A.xiala1 div {
	HEIGHT: 38px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	MARGIN: 0px 0px 0px 8px;
	DISPLAY: inline-block;
	LINE-HEIGHT: 38px;
	PADDING-RIGHT: 7px
}

.menuitem LI A.navRi div {
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	MARGIN: 0px 0px 0px 9px;
	PADDING-RIGHT: 9px
}

.menuitem LI A.selected div {
	CURSOR: pointer;
	BACKGROUND-IMAGE: url(../images/navbg.png);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: right -117px
}

.menuitem LI A.navhover div {
	CURSOR: pointer;
	BACKGROUND-IMAGE: url(../images/navbg.png);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: right -117px
}

.menuitem LI A.xiala1:hover div {
	CURSOR: pointer;
	BACKGROUND-IMAGE: url(../images/navbg.png);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: right -117px
}

.menuitem LI A.navhover div {
	BACKGROUND-COLOR: #fff
}

.menuitem LI A.xiala1:hover div {
	BACKGROUND-COLOR: #fff
}

.menuitem LI.overlay {
	DISPLAY: none
}

.menuitem LI.navRi1 {
	HEIGHT: 40px;
	BACKGROUND: url(../images/p02.gif) no-repeat right
		-60px;
	RIGHT: -1px;
	POSITION: absolute;
	TOP: 0px;
	WIDTH: 2px
}

.menuitem LI.navLi1 {
	HEIGHT: 40px;
	BACKGROUND: url(../images/p02.gif) no-repeat right
		-60px;
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	LEFT: 0px;
	MARGIN: 0px;
	TOP: 0px;
	PADDING-RIGHT: 0px;
	WIDTH: 2px;
	_width: 3px
}

.menuitem LI.navLi2 {
	HEIGHT: 40px;
	BACKGROUND: url(../images/p02.gif) no-repeat right -60px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	MARGIN: 0px;
	PADDING-RIGHT: 0px;
	WIDTH: 2px
}

.menuitem UL.children {
	BORDER-TOP: #c50000 0px solid;
	BORDER-RIGHT: #c50000 2px solid;
	BACKGROUND: #fff;
	BORDER-BOTTOM: #c50000 2px solid;
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 5px;
	PADDING-LEFT: 0px;
	LEFT: 4px;
	BORDER-LEFT: #c50000 2px solid;
	LINE-HEIGHT: normal;
	TOP: 38px;
	PADDING-RIGHT: 0px;
	WIDTH: 125px;
	z-index: 9999;
}

.menuitem UL.sleft {
	RIGHT: 6px;
	LEFT: auto;
	_right: 5px
}

.menuitem UL.children LI.noborder {
	BORDER-TOP-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none;
	BORDER-RIGHT-STYLE: none
}

.menuitem UL.children LI {
	FONT-SIZE: 12px;
	BORDER-RIGHT: #c50000 1px solid;
	BACKGROUND-IMAGE: none;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	DISPLAY: inline-block;
	PADDING-RIGHT: 1px;
	WIDTH: 123px
}

.menuitem UL.children LI H3 {
	DISPLAY: block;
	WIDTH: 100%
}

.menuitem UL.children LI A {
	OVERFLOW: hidden;
	FONT-SIZE: 12px;
	HEIGHT: 16px;
	BACKGROUND-POSITION: 8px -25px;
	COLOR: #911531;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	PADDING-LEFT: 0px;
	TEXT-DECORATION: none;
	DISPLAY: block;
	LINE-HEIGHT: 17px;
	PADDING-RIGHT: 0px;
	WIDTH: 100%;
	TEXT-INDENT: 20px
}

.menuitem UL.children LI A:hover {
	TEXT-DECORATION: none;
	BACKGROUND-COLOR: #ffe1e1
}

.menuitem UL.children LI.count {
	CLEAR: both
}

.menuitem UL.children LI.count DIV {
	COLOR: #911531;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	PADDING-LEFT: 0px;
	MARGIN: 5px 0px 0px;
	PADDING-RIGHT: 0px;
	WIDTH: 223px;
	BACKGROUND-COLOR: #ffe1e1;
	TEXT-INDENT: 8px
}

.spritemenu {
	BACKGROUND-IMAGE: url(../images/p02.gif);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left top
}

.clearfixmenu:after {
	HEIGHT: 0px;
	CONTENT: ".";
	CLEAR: both;
	DISPLAY: block;
	LINE-HEIGHT: 0;
	VISIBILITY: hidden
}

.clearfixmenu {
	DISPLAY: inline-block
}
.threeli{
	color: #911531;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    text-indent: 20px;
}
.threeli:hover{
	background:#ffe1e1;
	color:#911531;
}
.arrows{
	height: 6px; 
	background: url(../images/p02.gif) 
	no-repeat scroll 0px 0px transparent;
	 position: absolute; 
	 top: 9px; 
	 width: 3px; 
	 right: 10px;
}

